body {
  background-color: #142850;
}

.App {
  text-align: left;
}

.header {
  background-color: #27496D;
  color: whitesmoke;
  padding: 20px;
  font-size: 24px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;  
}
